
body{
    padding: 0;
    margin: 0;
}
header{
    background-color: #fa5130;
}
.nav-top{
    color: #FFFFFF;
    align-items: center;
    align-content: center;
    text-align:center ;
    height: 30px;

    /* display: inline-block; */
}
.nav-top-right{
    list-style: none;
    list-style-type: none;
    align-items: center;
    align-content: center;
    text-align:center ;
    float: right;
    gap: 10px;
   
}

.nav-top-right>a{
    text-decoration: none;
    color: #FFFFFF;
}
.nav-top-right>span{
color: white;
}
.nav-top-left>a{
    text-decoration: none;
}
.nav-top-left>span{
color: white;
}