*
{
    border: #FFFFFF 1px solid;
}
body{
    padding: 0;
    margin: 0;
}
header{
    background-color: #fa5130;
}
.nav-top{
    color: #FFFFFF;
    align-items: center;
    align-content: center;
    text-align:center ;
    /* display: inline-block; */
}
.nav-top-right{
    list-style: none;
    list-style-type: none;
}
.nav-top-right>a{
    text-decoration: none;
   
}
.nav-top-right>span{
color: white;
}
.nav-top-left>a{
    text-decoration: none;
}
.nav-top-left>span{
color: white;
}