<h1>quản lí danh mục
</h1>
<form class="container">
    <span>Tên danh mục</span>
    <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="Text input with checkbox" ng-model="name">
    </div>
    <span> Độ dài </span>
    <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="Text input with checkbox" ng-model="length">
    </div>

    <input class="m-5" type="submit" value="Thêm sản phẩm" ng-click="addCategory()">
</form>