<div class="container d-flex">
    
    <form class="container col-8">
        <h1>Thêm sản phẩm</h1>
        <span>Tên</span>
        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Text input with checkbox" ng-model="name">
        </div>
    
        <span>Url Image</span>
        <div class="input-group mb-3">
    
            <input type="text" class="form-control" aria-label="Text input with checkbox" ng-model="urlImage">
        </div>
        <span>Giá</span>
        <div class="input-group mb-3">
    
            <input type="number" class="form-control" aria-label="Text input with checkbox" ng-model="price">
        </div>
        <span>Số lượng</span>
        <div class="input-group mb-3">
    
            <input type="number" class="form-control" aria-label="Text input with checkbox" ng-model="quantity">
        </div>
        <span>Danh mục</span>
        <!--  -->
        <div>
            <select class="form-select" ng-options="x.name for x in categories"  ng-model="category">
               
            </select>
    
        </div>
        <span>
            Mô tả sản phẩm.
        </span>
        <div class="form-floating">
            <textarea class="form-control" ng-model="description" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 100px"></textarea>
            <label for="floatingTextarea2">Comments</label>
        </div>
        <span>
            Độ dài
        </span>
        <div class="input-group mb-3">
    
            <input type="number" class="form-control" aria-label="Text input with checkbox" ng-model="length">
        </div>
        
        <input class="m-5 btn btn-outline-warning " type="submit" value="Thêm sản phẩm" ng-click="addProduct()">
        
    </form>
    <div class="col-4">
        <img ng-src="{{urlImage}}" alt="Image preview" class="col-12 rounded"  style="min-height: 500px; min-width: 500px; box-shadow: 2px 6px 10px;" />
    </div>
</div>

