<div class="container">
    <button type="button" class="btn btn-primary">
        <a href="#!/Mproduct/add">Thêm</a>
    </button>
    
    
    <table class="table table-hover text-center m-5">
        <tr>
            <th>ID</th>
            <th>Tên Sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng còn lại</th>
            <th>
                Chức năng khác
            </th>
        </tr>
        <tr ng-repeat="product in products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>
                <button type="button" class="btn btn-primary">
                    <a href="#!/Mproduct/update/{{product.id}}"> Sửa</a>
                </button>
                <button type="button" class="btn btn-primary">
                    <a href="" ng-click = "btnDel(product.id)">Xóa</a>
            </td>
        </tr>
    </table>
</div>