<div class="container">
    <div class="banner-container">
        <div class="item item1">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active item">
                        <img src="../Image/Banner/1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item item">
                        <img src="../Image/Banner/2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item item">
                        <img src="../Image/Banner/3.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="item item2">
            <a href="../Product/ProductDetail.html"><img src="../Image/Banner/4.jpeg" alt=""></a>
        </div>
        <div class="item item3">

            <a href="../Product/ProductDetail.html"><img src="../Image/Banner/5.png" alt=""></a>
        </div>
    </div> 
    <div class="container text-center p-2">
        <div class="col p-2">
            <div class="row">
                <div class="card m-2" style="width: 18rem;" ng-repeat="product in products">
                    <!-- Lỗi ở đây -->
                    <img src="{{product.urlImage}}" class="card-img-top m-1 rounded border border-danger" width="200px"
                        height="200px">
                    <div class="card-body">
                        <h5 class="card-title fs-6"> {{product.name}}</h5>
                        <p class="card-text">
                            Mô tả sản phẩm
                        </p>
                        <p class="text-danger fw-bold"> {{product.price}} $</p>
                        <a href="#" class="btn btn-primary">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>