<div class="container">
  <form action="" name="frmCheck">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"></span>
      <input ng-model="Fullname" name="Fullname" type="text" class="form-control" placeholder="Fullname"
        aria-label="Fullname" aria-describedby="basic-addon1" required>
      <div class="invalid-feedback" ng-show="frmCheck.Fullname.$invalid">
        Họ và tên không được để trống
      </div>
    </div>


    <div class="form-floating mb-3">
      <input ng-model="email" name="email" ng-pattern="/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/" type="email"
        class="form-control" id="floatingInput" placeholder="name@example.com" required>
      <label for="floatingInput">Email address</label>
      <div class="invalid-feedback" ng-show="frmCheck.email.$invalid">
        Email không được để trống
      </div>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"></span>
      <input ng-model="phoneNumber" name="phoneNumber" type="text" class="form-control" placeholder="phoneNumber"
        aria-label="phoneNumber" aria-describedby="basic-addon1" required>
      <div class="invalid-feedback" ng-show="frmCheck.phoneNumber.$invalid">
        Số điện thoại không được để trống
      </div>
    </div>
    <div class="form-floating mb-3">
      <textarea ng-model="address" name="address" class="form-control" placeholder="Leave a comment here"
        id="floatingTextarea" required></textarea>
      <label for="floatingTextarea">Địa chỉ nhận hàng</label>
      <div class="invalid-feedback" ng-show="frmCheck.address.$invalid">
        Địa chỉ không được để trống
      </div>
    </div>
    <div class="form-floating mb-3">
      <input ng-model="obj.name" readonly type="text" class="form-control" placeholder="Tên sản phẩm"
        aria-label="nameProduct" aria-describedby="basic-addon1">
      <label for="nameProduct">Tên sản phẩm</label>
    </div>
    <div class="form-floating mb-3">
      <input ng-model="totalQuantity" type="number" class="form-control"
        placeholder="Tên sản phẩm" aria-label="nameProduct" aria-describedby="basic-addon1">
      <label for="nameProduct">Số lượng</label>
      <div class="invalid-feedback" ng-hide="quantityExceeded">
        Vượt quá số lượng có sẵn
      </div>
    </div>
    <div class="form-floating mb-3">
      <input ng-model="obj.price" readonly type="number" class="form-control" placeholder="Tên sản phẩm"
        aria-label="nameProduct" aria-describedby="basic-addon1">
      <label for="nameProduct">Đơn giá</label>
    </div>
    <!-- Check cho số lượng lớn nhất chỉ có thể nhập là quantity -->
    <div class="form-floating mb-3">
      <input ng-model="totalPrice" readonly type="number" class="form-control" placeholder="Tên sản phẩm"
        aria-label="nameProduct" aria-describedby="basic-addon1">
      <label for="nameProduct">Thành tiền</label>
    </div>

    <button type="submit" class="btn btn-primary" ng-click="checkQuantity()">Thanh toán</button>
  </form>
</div>